.project
.settings
*.ipa
*.apk
*.stamp
*.swf
*.tmp
bin
build
docs
GooglePlus.ane
GooglePlus.swc
android/.classpath
android/AndroidManifest.xml
android/bin
android/gen
android/proguard-project.txt
android/project.properties
*.xcuserstate
